/*
 = RESET
 -------------------------------------------------------*/

* { box-sizing: border-box; }

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "niveau-grotesk";
  font-size: 1.6rem;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}
main,
li {
  display: block;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
}
strong {
  font-weight: bold;
}
a,
button {
  color: inherit;
  transition: .15s;
}
a {
  display: inline-block;
  color: #25AAFF;
  text-decoration: none;
}
a:hover {
  color: #1D88CC;
}
a:active {
  transform: translateY(2px);
}
button {
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
:focus {
  outline: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/*
 = TABLE
 -------------------------------------------------------*/
h1 {
  margin-bottom: 1.2rem;
  font-size: 2.1rem;
}
h2 {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}
p {
  margin-bottom:2.4rem;
}
.header {
  margin-bottom: 2.4rem;
  background: #fff;
  border-bottom: 1px solid #d1d1d1;
}
.footer {
  position: fixed;
  right:0;
  bottom: 0;
  left:0;
  padding: 1.2rem;
  background: #fff;
  border-top: 1px solid #d1d1d1;
}
.logo {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.5;
}
.nav__items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1.2rem;
}

.msgs {
  display: block;
  margin-bottom: 2.4rem;
  border: 1px solid #d1ebff;
  background: #e6f4ff;
  color: #186698;
}

.msg {
  padding: .8rem 1.2rem;
  border-bottom: 1px solid #d1ebff;
}

.msg:last-child {
  border-bottom: none;
}

.list--unordered {
  list-style-type: square;
    margin-left: 1.2rem;
    padding-left: 1.2rem;
}

.list--unordered li {
  display: list-item;
}

table {
  width: 100%;
  margin-bottom: 2.4rem;
}

th {
  text-align:left;
}

.form label {
  display: block;
  font-size: 1.2rem;
  color: #aaa;
}

.form input {
  display: inline-block;
  margin-bottom: 1.2rem;
  padding: .8rem 1.2rem;
  font-size: 1.6rem;
}

@media (max-width: 1000px) {
  .wrapper {
    padding: 0 1.2rem;
  }
  .table--bets,
  .table--bets thead,
  .table--bets tbody,
  .table--bets tr,
  .table--bets th,
  .table--bets td {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    border-collapse: collapse;
  }

  .table--bets {
    margin-top: 3.6rem;
  }

  .table--bets thead {
    display: none;
  }

  .table--bets td {
    display: block;
    width: auto;
  }
  .table--bets tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 3.6rem 1.2rem;
    border-bottom: 1px solid #dedede;
  }
  .table--bets tr:first-child {
    border-top: 1px solid #dedede;
  }
  .table--bets tr:before,
  .table--bets tr:after {
    content: " ";
    width: 100%;
    order: 1;
  }
  .table--bets tr :nth-child(n+3) {
    order: 1;
  }
.table--bets   tr :nth-child(n+4) {
    order: 2;
  }

  .label {
    font-size: 1.2rem;
    color: #aaa;
  }

  .group {
    white-space: nowrap;
  }
  .group:before {
    padding: 0 4px 0 8px;
    content: attr(data-col)
  }
  .match {
    margin-bottom: 1.2rem;
    font-size: 2.1rem;
    line-height: 2.4rem;
  }
  .outcome {
    position: absolute;
    top: 5.4rem;
    right: 1.2rem;
    font-size: 2.1rem;
    line-height: 2.4rem;
  }
  .your-bet:before,
  .super-bet:before,
  .odds:before,
  .points:before {
    content: attr(data-col);
    display: block;
    font-size: 1.2rem;
    color: #aaa;
  }
}
@media (min-width: 670px) and (max-width: 1000px) {
  .table--bets tr {
    margin-bottom: 0;
    width: 50%;
    float:left;
  }
  .table--bets tr:nth-child(n+2) {
    border-left: 1px solid #d1d1d1;
  }
  .table--bets tr:nth-child(1) {
    border-top: 1px solid #d1d1d1;
  }
  .table--bets tr:nth-child(2) {
    border-top: 1px solid #d1d1d1;
  }
}
@media (min-width: 1000px) {
  .main {
    padding: 0 2.4rem 7.2rem;
  }
  .table--bets {
    width: 100%;
  }
  .table--bets th:nth-child(2),
  .table--bets td:nth-child(2),
  .table--bets th:nth-child(5),
  .table--bets td:nth-child(5),
  .table--bets th:nth-child(6),
  .table--bets td:nth-child(6),
  .table--bets th:nth-child(7),
  .table--bets td:nth-child(7),
  .table--bets th:nth-child(8),
  .table--bets td:nth-child(8) {
    text-align: center;
  }
}

.table--bets th {
  text-align: left;
}

.text--less-important {
  color: #aaa;
}

input[type='radio'] {
  display: none;
}

.btn {
  display: inline-block;
  padding: .4rem 1.2rem;
  border: 1px solid #D1D1D1;
  background: #fff;
  transition: .15s linear;
}
.btn:hover {
  background: rgba(37, 170, 255, .5);
}
.btn:active,
input[type='radio']:checked + .btn {
  background: rgba(37, 170, 255, 1);
  color: #fff;
}

input[type='radio']:checked:disabled + .btn {
  background: #aaa;
  color: #fff;
}

input[type='radio']:disabled + .btn {
  color: #aaa;
}

.btn--primary {
  padding: 1.2rem 2.4rem;
  background: rgba(37,170,255,1);
  border-color: rgba(37,170,255,1);
  font-size: 1.8rem;
  color: #fff;
}

.btn--in-group {
  margin-right: -5px;
}

.btn--in-group:last-child {
  margin-right: 0;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  position: relative;
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
}
input[type='checkbox'] + label:before {
  content: " ";
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid #D1D1D1;
}
input[type='checkbox']:checked + label:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 3.2rem;
  height: 3.2rem;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMTggMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPkNoZWNrYm94PC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8ZyBpZD0iQ2hlY2tib3giIHNrZXRjaDp0eXBlPSJNU0FydGJvYXJkR3JvdXAiIHN0cm9rZT0iIzI2QUFGRSIgc3Ryb2tlLXdpZHRoPSIzIj4gICAgICAgICAgICA8cGF0aCBkPSJNMyw5LjMyNjk5ODQ5IEw2LjY0OTA5ODM2LDEzLjUwOTQxNTQgTDE1LjAyNzgzMiwzLjUiIGlkPSJQYXRoLTE2IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=) no-repeat;
  background-size: 75%;
  background-position: center;
}

input[type='checkbox']:checked:disabled + label:after {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMTggMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPkNoZWNrYm94IGRpc2FibGVkPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8ZyBpZD0iQ2hlY2tib3gtZGlzYWJsZWQiIHNrZXRjaDp0eXBlPSJNU0FydGJvYXJkR3JvdXAiIHN0cm9rZT0iI0VERUNFRCIgc3Ryb2tlLXdpZHRoPSIzIj4gICAgICAgICAgICA8cGF0aCBkPSJNMyw5LjMyNjk5ODQ5IEw2LjY0OTA5ODM2LDEzLjUwOTQxNTQgTDE1LjAyNzgzMiwzLjUiIGlkPSJQYXRoLTE2IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=) no-repeat;
  background-size: 75%;
  background-position: center;
}

@media (min-width: 1200px) {
  body {
    background: url(body-bg.jpg);
  	background-repeat:no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
  }
  .header,
  .main {
    max-width: 120rem;
    margin: 0 auto;
  }
  .main {
    padding: 2.4rem 2.4rem 7.2rem;
    background:#fff;
  }
  .wrapper {
    margin-bottom: 2.4rem;
  }
  .footer {
    left: 50%;
    margin-left: -60rem;
    width: 120rem;
  }
}
