{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
  <head>
      <meta name="csrf-token" content="{{ csrf_token() }}">
      <title>Schoselwette Euro 2016</title>
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      {% block head %}{% endblock %}
  </head>
  <body>
    {% if current_user.is_authenticated %}

  <span style='float:right'>
    {{ current_user.name }}
    <a href='{{ url_for('profile') }}'>Profile</a>
    <a href='{{ url_for('logout') }}'>Logout</a>
  </span>
  <a href='/main'>Home</a>
  <a href='/scoreboard'>Scoreboard</a>
{% else %}
  <a href='/'>Home</a>
{% endif %}
  <a href={{ url_for('about') }}>About</a>
  <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
{% block content %}{% endblock %}
  </body>
</html>
