{% extends "base.html" %}

{% block content %}
<div class="wrapper">
<h1>Edit Profile</h1>
<p>Your full name will not appear anywhere on this site.</p>

<form class='form' action="{{ url_for('profile') }}" method="post" name="profile">
    {{ form.hidden_tag() }}

    {{ form.first_name.label }}
    {{ render_field(form.first_name) }}

    {{ form.last_name.label }}
    {{ render_field(form.last_name) }}


    {{ form.email.label }}
    {{ render_field(form.email) }}

    <p><input class="btn btn--primary" type="submit" value="Save"></p>
</form>
</div>

<a href='index'>Cancel</a>

{% endblock %}
