{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<form action="/login" method="post" name="login">
    {{ form.hidden_tag() }}

      <table>
        <tr>
        <td>{{ form.email.label }}</td>
        <td>{{ render_field(form.email) }}</td>
        </tr>
        <tr>
        <td>{{ form.password.label }}</td>
        <td>{{ render_field(form.password) }}</td>
        </tr>
        <tr>
        <td>{{ form.rememberme.label }}</td>
        <td>{{ render_field(form.rememberme) }}</td>
        </tr>
      </table>
    <p><input type="submit" value="Sign In"></p>
</form>

<p><a href='{{ url_for('password')}}'>Password forgotten</a></p>

<a href='index'>Cancel</a>

{% endblock %}
