{% extends "base.html" %}

{% block content %}

<h1>Tips</h1>
<form action="/main" method="post" name="main">
{{ form.hidden_tag() }}

{{ render_field(championForm.champion_id)}}<br>

<br>

{% for bet, bet_form in zip(bets, form.bets): %}

{{ bet_form.dummy }}

Group {{ bet.match.team1.group }}

{{ bet.match.date }}

{{ bet.match.team1.name }}

{% if bet.match.editable %}

{% for subfield in bet_form.outcome %}
        {{ subfield }}
        {{ subfield.label }}
{% endfor %}

{% else %}

outome is {{ bet.outcome }}

{% endif %}

{{ bet.match.team2.name }}

{{ bet_form.supertip }}

<br>

{% endfor %}

<p><input type="submit" value="Save"></p>
</form>

{% endblock %}

venv
