{% extends "base.html" %}

{% block content %}

<h1>Tips</h1>
<form action="/main" method="post" name="main">
{{ form.hidden_tag() }}

{{ render_field(form.champion_id)}}<br>

<br>

{% for bet in bets: %}

{% if not bet.match.editable %}<a href='/match/{{ bet.match.id}}'>{% endif %}

Group {{ bet.match.team1.group }}

{{ bet.match.date }}

{{ bet.match.team1.name }}

{% if bet.match.editable %}

<input type='radio' name='outcome-{{ bet.match.id }}' {% if bet.outcome == '1' %}checked{% endif %} value='1'>
<input type='radio' name='outcome-{{ bet.match.id }}' {% if bet.outcome == 'X' %}checked{% endif %} value='X'>
<input type='radio' name='outcome-{{ bet.match.id }}' {% if bet.outcome == '2' %}checked{% endif %} value='2'>

<input type='checkbox' name='supertip-{{ bet.match.id }}' {% if bet.supertip %}checked{% endif %}>

{% else %}

<input type='radio' disabled='true' {% if bet.outcome == '1' %}checked{% endif %}>
<input type='radio' disabled='true' {% if bet.outcome == 'X' %}checked{% endif %}>
<input type='radio' disabled='true' {% if bet.outcome == '2' %}checked{% endif %}>

<input type='checkbox' disabled='true' {% if bet.supertip %}checked{% endif %}>

{% endif %}

{{ bet.match.team2.name }}

{% if not bet.match.editable %}</a> {{ bet.points }} points {% endif %}


<br>

{% endfor %}

<p><input type="submit" value="Save"></p>
</form>

{% endblock %}
