{% extends "base.html" %}

{% block content %}
<div class="wrapper">
<h1>Sign Up</h1>

<p>Your full name will not appear anywhere on this site.</p>

<form class="form" method=""action="/register" method="post" name="register">
    {{ form.hidden_tag() }}
      <td></td>
    </tr>
      <tr>
        <td></td><td>{{ form.recaptcha }}</td>
    </tr>
    <table>
    <p><input type="submit" value="Register"></p>
</form>

    {{ form.first_name.label }}
    {{ render_field(form.first_name) }}

    {{ form.last_name.label }}
    {{ render_field(form.last_name) }}

    {{ form.email.label }}
    {{ render_field(form.email) }}

    {{ form.password.label }}
    {{ render_field(form.password) }}

    {{ form.confirm.label }}
    {{ render_field(form.confirm) }}

    {{ render_field(form.confirm) }}

    <p><input class="btn btn--primary" type="submit" value="Register"><a style="margin-left:24px;" href='index'>Cancel</a></p>
</form>
</div>
{% endblock %}
