{% extends "base.html" %}

{% block content %}
<div class="wrapper">
<h1>Sign Up</h1>

<p>Your full name will not appear anywhere on this site.</p>

<form class="form" action="/register" method="post" name="register">
    {{ form.hidden_tag() }}

    {{ form.first_name.label }}
    {{ render_field(form.first_name) }}

    {{ form.last_name.label }}
    {{ render_field(form.last_name) }}

    {{ form.email.label }}
    {{ render_field(form.email) }}

    {{ form.password.label }}
    {{ render_field(form.password) }}

    {{ form.confirm.label }}
    {{ render_field(form.confirm) }}

    {{ form.recaptcha }}

    <p><input class="btn btn--primary" type="submit" value="Register"><a style="margin-left:24px;" href='index'>Cancel</a></p>
</form>
</div>
{% endblock %}
