{% extends "base.html" %}

{% block content %}

<h1>Sign Up</h1>

<p>Your full name will not appear anywhere on this site.</p>

<form action="/register" method="post" name="register">
    {{ form.hidden_tag() }}
    <table>
      <tr>
    <td>{{ form.first_name.label }}</td>
      <td>{{ render_field(form.first_name) }}</td>
    </tr>
      <tr>
    <td>{{ form.last_name.label }}</td>
      <td>{{ render_field(form.last_name) }}</td>
    </tr>
      <tr>
    <td>{{ form.email.label }}</td>
      <td>{{ render_field(form.email) }}</td>
    </tr>
      <tr>
    <td>{{ form.password.label }}</td>
      <td>{{ render_field(form.password) }}</td>
    </tr>
      <tr>
    <td>{{ form.confirm.label }}</td>
      <td>{{ render_field(form.confirm) }}</td>
    </tr>
    <table>
    <p><input type="submit" value="Register"></p>
</form>

<a href='index'>Cancel</a>

{% endblock %}
